@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color-scheme: light;
    border: none !important;
}

body {
    font-family: $primaryFont !important;
    font-weight: $regular !important;
    line-height: 1.5em !important;
    color: $primaryColor !important;
    scroll-behavior: smooth;

    @include resFont(1.6, 1.8, true);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection,
img::selection,
label::selection,
li::selection,
button::selection,
input::selection,
bdi::selection {
  color: #fff;
  background-color: $secondaryColor;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img {
  width: 100%;
  max-width: 100%;
  transition: all 0.25s linear;
  cursor: pointer;
}

a {
  text-decoration: none !important;

  &:hover {
    color: $primaryColor;
  }
}

a,
button,
input,
textarea {
  outline: 0;
  transition: {
    duration: 0.25s;
    property: background-color, border-color, color, box-shadow;
  }
}

button,
input,
textarea {
  vertical-align: top;
  outline: 0;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s,
    box-shadow 0.25s;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

p:empty {
  display: none;
}

.container-fluid {
  padding-right: 10rem;
  padding-left: 10rem;

  @include maxWidth($lg) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  @include maxWidth($md) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include maxWidth($sm) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.no-gap-row {
  margin-right: 0;
  margin-left: 0;

  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}