@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.header {
  background: $primaryColor;

  // header top
  &__top {
    border-bottom: 1px solid #fff;

    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-left {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
    }

    &-item {
      padding: .8rem 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:first-child {
        padding-left: 0;
      }
    }
    
    &-text {
      font-size: 1.6rem;
      font-weight: 300;
    }

    svg {
      width: 2rem;
      height: 2rem;
      fill: #fff;
    }
  }

  //header bottom
  &__bottom {
    padding: 3rem 0;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      img {
        width: 100%;
        max-width: 20rem;
        object-fit: contain;
      }
    }

    svg {
      width: 2rem;
      height: 2rem;
      fill: #fff;
    }
    
  }

}
